.header {
  background-color: #000000;
  color: white;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

ul {
  margin: 0px;
}

.nav-links {
  display: flex;
  justify-content: space-between; /* push navLinks left, socials right */
  align-items: center;
  height: var(--nav-bar-height);
  background: #000000;
  padding-top: 0.5rem;
}

.nav-links ul {
  display: flex;    /* items side by side */
  margin: 0;
  padding: 0;
  list-style: none;
  background: none; /* no forced background */
  width: auto;      /* let them size naturally */
}

#navLinks li,
#socials li {
  list-style: none;
  padding: 10px 12px;
}

#navLinks a,
#socials a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

#socials img {
  max-height: 35px;
  object-fit: contain;
}

.nav-links ul li a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: 0.3s ease;
}

.nav-links ul li a:hover::after {
  background-color: white;
}

nav .fa {
  display: none;
}

#socials{
  display: flex;
  align-items: flex-end;  /* centers text + image vertically */
  gap: 0.5rem;          /* space between text and image */
  text-decoration: none;
  font-size: 20px;
  color: white;
  }
  

@media (max-width: 900px) {
  .text-box h1 {
    font-size: 85px;
  }

  .nav-links ul li {
    display: block;
    background-color: transparent;
  }

  .nav-links {
    position: absolute;
    background: linear-gradient(225deg, #000000, rgb(53, 32, 59));
    height: 100vh;
    max-width: 80vw;
    top: 0;
    right: -100%;
    text-align: left;
    z-index: 1;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: white;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .nav-links ul {
    padding: 30px;
  }

  .nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
  }
}